body {
    margin: 0;
    padding: 0;
    background: #181618;
    width: 100vw;
    display: grid;
    grid-template-rows:  80vh 80vh 80vh 80vh;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c" "d";
    gap: 10rem;
}

#Welcome{
    grid-area: a;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

#header{
    width: 100%;
    position: fixed;
    top: 1rem;
    z-index: 1000;
}

#video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#Welcome h1{
    max-width: 100%;
    align-self: stretch;
    color: #F7FFFB;
    text-overflow: ellipsis;
    font-family: "Playfair Display", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 7.425rem */
    letter-spacing: -0.0675rem;
    margin-bottom: 1rem;
    margin-top: 15rem;

}

#Welcome p{
    align-self: stretch;
    color: #D0DBD6;
    font-family: Lato, sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.925rem */
    margin-top: 5px;
}

#nav-bar{
    display: flex;
    padding: 1rem 0.5rem;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 4rem;
    background: #F7FFFB;
    font-family: Lato, sans-serif;
    color: #1D1A1C;
}

.nav-link{
    color: #1D1A1C;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    left: 36rem;
    bottom: 0.8125rem;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
}

.nav-left, .nav-right{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.2rem */

}

a{
    text-decoration: none;
}


#Collections{
    grid-area: b;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". quality ." "quality-cap1 quality-cap2 quality-cap3" "quality-cap4 quality-cap5 quality-cap6";
    gap: 1.5rem;
}



#Collections figure{
    width: 100%;
    height: 100%;
    border: red 1px solid;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Collections figure img{
        width: 100%; /* Ensure the image fills the parent box horizontally */
        height: 14rem; /* Ensure the image fills the parent box vertically */
        object-fit: cover;
}
#quality{
    grid-area: quality;
    text-align: center;
}

#quality-cap1{
    grid-area: quality-cap1;
    display: flex;
    flex-direction: column;
}
#quality-cap2{
    grid-area: quality-cap2;
}
#quality-cap3{
    grid-area: quality-cap3;
}
#quality-cap4{
    grid-area: quality-cap4;
}
#quality-cap5{
    grid-area: quality-cap5;
}
#quality-cap6{
    grid-area: quality-cap6;
}

#Collections figure{
    height: 20rem;
    width: 22.5rem;
}



#shop-now{
    max-width: 48ch;
    min-width: 22.5rem;
    padding: 1rem 3rem;
    background: #00A795;
    border: none;
    color: #F7FFFB;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
}

#Welcome h1, #Welcome p, #shop-now{
    margin-left: 1.5rem;
}



#Partners{
    grid-area: c;
    display: grid;
    grid-template-rows:  auto 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". . p-heading . ." ". i j k . " ". m n o .";
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

#Partners figure{
    width: 15rem;
    height: 100%;
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners-heading{
    grid-area:p-heading;
    text-align: center;
}

#partner-1{
    grid-area: i;

}

#partner-2{
    grid-area: j;
}

#partner-3{
    grid-area: k;
}

#partner-4{
    grid-area: m;
}

#partner-5{
    grid-area:n;
}

#partner-6{
  grid-area: o;
}


#Contact{
    grid-area: d;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.8fr 2rem;
    grid-template-areas: "splash splash Franchise Franchise Franchise"
    "bliss quick-links our-coffee contact-us follow-us"
    "footer footer footer footer footer";
}

#splash{
    grid-area: splash;
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    overflow: hidden;
}

#splash-cup{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#Franchise{
    grid-area: Franchise;
}
.bliss{
    grid-area: bliss;
}

.quick-links{
    grid-area: quick-links;
}

.our-coffee{
    grid-area: our-coffee;
}

.contact-us{
    grid-area: contact-us;
}

.follow-us{
    grid-area: follow-us;
}

footer{
    grid-area: footer;
    display: flex;
}

