body {
    margin: 0;
    padding: 0;
    background: #181618;
    width: 100vw;
    display: grid;
    grid-template-rows:  80vh 80vh 80vh 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c" "d";
    gap: 150px;
}

#Welcome{
    grid-area: a;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

#header{
    width: 100%;
    position: fixed;
    top: 1rem;
    z-index: 1000;
}

#video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#Welcome h1{
    max-width: 100%;
    align-self: stretch;
    color: #F7FFFB;
    text-overflow: ellipsis;
    font-family: "Playfair Display", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 7.425rem */
    letter-spacing: -0.0675rem;
    margin-bottom: 1rem;
    margin-top: 15rem;

}

#Welcome p{
    align-self: stretch;
    color: #D0DBD6;
    font-family: Lato, sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.925rem */
    margin-top: 5px;
}

#nav-bar{
    display: flex;
    padding: 1rem 0.5rem;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 4rem;
    background: #F7FFFB;
    font-family: Lato, sans-serif;
    color: #1D1A1C;
    box-shadow: black 0 0.5rem 0.5rem -0.5rem;
}

img, figure{
    box-shadow: black 0 0.5rem 0.5rem -0.5rem;
}

.nav-link{
    color: #1D1A1C;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    left: 36rem;
    bottom: 0.8125rem;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
}

.nav-left, .nav-right{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.2rem */

}

a{
    text-decoration: none;
}


#Collections{
    grid-area: b;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". quality ." "quality-cap1 quality-cap2 quality-cap3" "quality-cap4 quality-cap5 quality-cap6";
    gap: 1.5rem;
}

#Collections h1{
    color: #F7FFFB;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 4.2rem */
}

#Collections figure{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 22.5rem;
    color: #D0DBD6;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.caption-heading{
    overflow: hidden;
    color: #F7FFFB;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
}

#Collections figure img{
        width: 100%; /* Ensure the image fills the parent box horizontally */
        height: 14rem; /* Ensure the image fills the parent box vertically */
        object-fit: cover;
}
#quality{
    grid-area: quality;
    text-align: center;
}

#quality-cap1{
    grid-area: quality-cap1;
    display: flex;
    flex-direction: column;
}
#quality-cap2{
    grid-area: quality-cap2;
}
#quality-cap3{
    grid-area: quality-cap3;
}
#quality-cap4{
    grid-area: quality-cap4;
}
#quality-cap5{
    grid-area: quality-cap5;
}
#quality-cap6{
    grid-area: quality-cap6;
}

#shop-now{
    max-width: 48ch;
    min-width: 22.5rem;
    padding: 1rem 3rem;
    background: #00A795;
    border: none;
    color: #F7FFFB;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
}

#Welcome h1, #Welcome p, #shop-now{
    margin-left: 2rem;
}

#figure{
    font-family: Lato, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

#Partners{
    grid-area: c;
    display: grid;
    grid-template-rows:  auto 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". . p-heading . ." ". i j k . " ". m n o .";
    gap: 1rem;
    align-items: center;
    justify-items: center;
    background: #FFF;
}

#Partners figure{
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#D0DBD6; ;
}

.partners-heading{
    grid-area:p-heading;
    text-align: center;
}

.partners-heading h1{
    font-family: Inter, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #18181B;
    margin: 2px;
}

.partners-heading p{
    color: #71717A;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.partners-caption-heading{
    font-family: Inter, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #18181B;
}

.partners-caption-text{
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #71717A
}

#partner-1{
    grid-area: i;

}

#partner-2{
    grid-area: j;
}

#partner-3{
    grid-area: k;
}

#partner-4{
    grid-area: m;
}

#partner-5{
    grid-area:n;
}

#partner-6{
  grid-area: o;
}


#Contact{
    grid-area: d;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.7fr 0.3fr 0.1fr;
    grid-template-areas: "splash splash Franchise Franchise Franchise"
    "bliss quick-links our-coffee contact-us follow-us"
    "footer footer footer footer footer";
    padding-left: 3rem;
    padding-right: 3rem;
    width: 60vw;
    margin: 0 auto;
    background-color: rgba(253, 253, 253, 0.05)
}

#splash{
    grid-area: splash;
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0;
}

#splash-cup{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#Franchise{
    grid-area: Franchise;
}

#Franchise h1{
    font-family: "Playfair Display", sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    color: #F7FFFB;
}

#Franchise p{
    color: #D0DBD6;

    font-family: Lato, sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.bliss, .quick-links, .our-coffee, .contact-us, .follow-us{
    color: #F7FFFB;
}

.bliss h2, .quick-links h3, .our-coffee h3, .contact-us h3, .follow-us h3{
    font-family: Manrope, sans-serif;
    padding-top: 0;
}
.bliss{
    grid-area: bliss;
}

.bliss h2{
    margin-top: 13px;
}
.quick-links{
    grid-area: quick-links;
}

.our-coffee{
    grid-area: our-coffee;
}

.contact-us{
    grid-area: contact-us;
}

.follow-us{
    grid-area: follow-us;
}

footer{
    grid-area: footer;
    position: relative;
    color:#F7FFFB;
}

#email{
    border-radius: 0.25rem;
    border: 1px solid #41393E;
    background: #181618;
    min-width: 8.75rem;
    max-width: 20.25rem;
    padding: 1rem 1.5rem;
}

#submit{
    border-radius: 0.25rem;
    border: 1px solid #41393E;
    min-width: 8.75rem;
    width: 13.25rem;
    padding: 1rem 1.5rem;
    background: #00A795;
    color: #F7FFFB;
}

#submit:hover{
    cursor: pointer;
    background: #F7FFFB;
    color: #00A795;
    transition: 0.5s;
}

.line-break{
    height: 1px;
}

.socials-icons{
   position: absolute;
    top: 0;
    right: 120px;
}

#socials p{
    top: 0;

}

a{
    color: #F7FFFB;
    text-decoration: none;
}

a:hover{
    color: #00A795;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    body{
        width: 100vw;
        height: auto;
    }
    #Welcome, #Collections, #Partners, #Contact{
        height: 100vh;
        display: flex;
    }

    #Contact{
        margin-left: auto;
        margin-right: auto;
    }
}